/**
 *	CSS for XD_WLP Demo && Final
 *	Starts with regular elements
 *	then moves to custom ids and
 *	classes.
 *	
 *	@author: XDEV
 *	
 **/

 /*Very dark feel*/
body {
	background-color: #383838;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:0px;
}
/*NO LINK DECOR! I HATE THEM! */
a:link , a:visited, a:active, a:hover {
	color:#E0E0E0;
	text-decoration: none;
	overflow:hidden;
} h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:0;
	text-align:center;
	color:#E0E0E0;
	display:block;
} hr {
	border:none;
	border-top:2px solid #E8E8E8;
	height:1px;
	margin-bottom:25px;
} h2 {
	font:normal normal 1.5em monospace;
	color:#E0E0E0;
} th {
	overflow:hidden;
	padding:7px 8px 8px 8px;
} form {
	margin-left: 80px;
	width: 350px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size : 12px;
	padding:5px;
	margin-bottom:10px;
	-moz-border-radius: 1em;
	-webkit-border-radius:1em;
	-khtml-border-radius:1em;
	border-radius: 1em;
} #result {
	margin-left: 100px;
	border: 1px solid #E8E8E8;
	width: 350px;
	background: #E8E8E8;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size : 11px;
	padding:5px;
	margin-top:15px;
	margin-bottom:10px;
	-moz-border-radius: 2em;
	-webkit-border-radius:2em;
	-khtml-border-radius:2em;
	border-radius: 2em;
} .text {
	border: 1px solid #E0E0E0;
	background-color:#E8E8E8;
} input, button {
	background-color:#E8E8E8;
	border: 1px solid #E8E8E8;
	-moz-border-radius: 2em;
	-webkit-border-radius:2em;
	-khtml-border-radius:2em;
	border-radius: 2em;
} label {
	color: #5F5F5F;
	display: block;
	margin-top:7px;
	margin-left:5px;
	font-size:2em;
	margin-bottom: 3px;
	font-weight: bold;
} #caption{
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin:10px;
	font-size : 14px;
	color:#C64934;
}

/**
 *
 *	The following is for
 *	the chat/posts
 *
 **/
#code_bar p {
	color: #DDE2F2;
	font-size: 1em;
	margin:0.5em 0px 0.5em 0px;
} #chatoutput ul {
	list-style: none;
	margin:0px;
	padding:0px;
	padding:8px 10px 15px 8px;
} #chatoutput ul li {
	background-color:#3F3F3F;
	padding:5px 12px 12px 10px;
	font-weight:bold;
	margin:5px 5px 5px 5px;
	color:#9F9F9F;
	line-height: 150%;
	margin-bottom:10px;
	border:1px solid #5F5F5F;
	border-top-left-radius:.9em;
	border-top-right-radius:.9em;
	border-bottom-left-radius:.9em;
	border-bottom-right-radius:.9em;
} #chatoutput ul li span.name {
	display: block;
	background:url(http://127.0.0.1:8888/SERVER%20BAK/WLP_SVN/i/bubble.png) no-repeat left;
	padding-left:20px;
	font-weight: normal;
	font-size: 0.8em;
	color: #BFBFBF;
} #chatoutput ul li:hover span.name {
	color: #CFCFCF;
	background:url(http://127.0.0.1:8888/SERVER%20BAK/WLP_SVN/i/bubblehover.png) no-repeat left;
} #chatoutput {
	width:50%;
	text-align: left;
	margin-right: 250px;
} #code_bar {
	float: right;
	width:50%;
	padding-right:5px;
	padding-left: 5px;
	color: #5F5F5F;
	line-height: 130%;
} #code_bar ul {
	margin:5px;
	padding:0px;
	padding-left: 1.5em;
} #code_bar ul li {
	margin-bottom: 0.4em;
} #user_info {
	/*Use this to set the DIV for the post, */
} 
 
 /**
 *
 *	The following is for
 *	the code viewer
 *
 **/
#code_frame{
	background-color:#F8F8F8;
	border:1px solid #ddd;
	line-height:19px;
	font-size:12px;
	overflow:auto;
	margin:0 0 10px;
	padding:0 10px 0 0;
	
} #dir_frame {
	background-color:#F8F8F8;
	border:1px solid #ddd;
	line-height:19px;
	font-size:12px;
	overflow:auto;
	margin:0 0 0px 0;
	padding:0 10px 0 10px;
} .text .de1, .text .de2 {
	white-space:pre-wrap;
	font: normal normal 1em/1.2em monospace;
	margin:0 0 0 5px;
	padding:0;
	background:none;
	vertical-align:top;
} .text  {
	font-family:monospace;
} .text .imp {
	font-weight: bold; color: red;
} .text li, .text .li1 {
	background: #ffffff;
} .text .ln {
	width:1px;
	text-align:right;
	margin:0;
	padding:0 2px;
	vertical-align:top;
} .text .li2 {
	background: #E8E8E8;
} .text span.xtra {
	display:block;
} .dirTD {
	color:#E0E0E0;
	font-size:.9em;
	font-family:"Lucida Console", Monaco, monospace;
	background:#1D6893 url("http://127.0.0.1:8888/server%20bak/WLP_SVN/i/head_bg.gif") repeat-x top right;
	padding: 5px 5px 5px 5px;
	overflow:hidden;
} #dirhead {
	background:#fff url('http://127.0.0.1:8888/server%20bak/WLP_SVN/i/head_bg.gif') repeat-x bottom left;
	color:#E0E0E0;
	font-size:.9em;
	font-family:"Lucida Console", Monaco, monospace;
	font-weight:bold;
	padding:5px 5px 5px 5px;
	border-bottom-left-radius:2em;
	border-bottom-right-radius:2em;
	-moz-border-bottom-left-radius:2em;
	-moz-border-bottom-right-radius:2em;
	-webkit-border-bottom-left-radius:2em;
	-webkit-border-bottom-right-radius:2em;
	-khtml-border-bottom-left-radius:2em;
	-khtml-border-bottom-right-radius:2em;
	
	overflow:hidden;
}
 
 /**
 *
 *	The following is for
 *	the navigation bar
 *
 **/
#headcontainer{
	overflow:hidden;
	position:relative;
	height:56px;
	color:#E0E0E0;
	background:#143D55;
	width:100%;
	font-family:Helvetica,Arial,Verdana,sans-serif;
} #headnav{
	position:relative;
	height:33px;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
	background:#fff url("http://127.0.0.1:8888/server%20bak/WLP_SVN/i/head_bg.gif") repeat-x bottom left;
	padding:0 0 0 20px;
} #headnav ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	float:left;
} #headnav ul li{
	display:block;
	float:left;
	margin:0 1px;
} #headnav ul li a{
	display:block;
	float:left;
	color:#EAF3F8;
	text-decoration:none;
	padding:0 0 0 20px;
	height:33px;
} #headnav ul li a span{
	padding:12px 20px 0 0;
	height:21px;
	float:left;
} #headnav ul li a:hover{
	color:#fff;
	background:transparent url("http://127.0.0.1:8888/server%20bak/WLP_SVN/i/head_bg_over.gif") repeat-x bottom left;
} #headnav ul li a:hover span{
	display:block;
	width:auto;
	cursor:pointer;
/*} #headnav ul li a.current,#headnav ul li a.current:hover{*/
} #headnav ul li a.current,#headnav ul li a.current:hover{
	color:#fff;
	background:#1D6893 url("http://127.0.0.1:8888/server%20bak/WLP_SVN/i/head_left_on.gif") no-repeat top left;
	line-height:275%;
} #headnav ul li a.current span{
	display:block;
	padding:0 20px 0 0;
	width:auto;
	background:#1D6893 url("http://127.0.0.1:8888/server%20bak/WLP_SVN/i/head_right_on.gif") no-repeat top right;
	height:33px;
}

/*This stuff is for the Uploader*/
#wrapper {
	color:#E0E0E0;
	width: 80%;
	background-color:#383838;
	margin-top: 0px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border: thin solid #000000;
} #header {
	padding: 15px;
	margin: 0px;
	text-align: center;
} #nav {
	width: 25%;
	padding: 10px;
	margin-top: 20px;
	float: left;
} #main {
	margin-left: 30%;
	margin-top: 1px;
	padding: 10px;
} #footer {
	padding: 15px;
	margin: 0px;
	border-top: thin solid #000000;
} #footer ul li{
	color : #000000;
	background-color : transparent;
	display: inline;
} #footer ul li a{
	color : #115EAC;
	background-color : transparent;
	text-decoration : none;
} #footer ul li a:hover{
	text-decoration : none;
} #upload_frame{
	background-color:#D8D8D8;
	line-height:19px;
	font-size:12px;
	overflow:auto;
	padding:0px 10px 0px 10px;
	margin:10px 25px 5px 25px;
	border:2px solid grey;
	/**	Extended support for other browsers, because not every one uses chrome	**/
	border-top-left-radius:2em;
	border-top-right-radius:2em;
	border-bottom-left-radius:2em;
	border-bottom-right-radius:2em;
	-moz-border-top-left-radius:2em;
	-moz-border-top-right-radius:2em;
	-moz-border-bottom-left-radius:2em;
	-moz-border-bottom-right-radius:2em;
	-webkit-border-top-left-radius:2em;
	-webkit-border-top-right-radius:2em;
	-webkit-border-bottom-left-radius:2em;
	-webkit-border-bottom-right-radius:2em;
	-khtml-border-top-left-radius:2em;
	-khtml-border-top-right-radius:2em;
	-khtml-border-bottom-left-radius:2em;
	-khtml-border-bottom-right-radius:2em;
}
/*.space is for the optional server space bar at the bottom.*/
.space {
	padding:0px 12px 0px 12px;
	-moz-border-radius: 25px;
	-webkit-border-radius:25px;
	-khtml-border-radius:25px;
	border-radius: 25px;
}
